@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-urbanist: var(--font-urbanist);
  --font-poppins: var(--font-poppins);
  --font-montserrat: var(--font-montserrat);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --navbar-height: var(--navbar-height);
  --spacing-screen-height: calc(100vh - var(--navbar-height));
}

@theme {
  --breakpoint-xs: 320px;
  --breakpoint-smd: 425px;
  --animation-duration: 40s;
  --animation-direction: forwards;
}

@utility animate-accordion-down {
  animation: accordion-down 0.2s ease-out;
}

@utility animate-accordion-up {
  animation: accordion-up 0.2s ease-out;
}

@utility animate-scroll {
  animation: scroll var(--animation-duration, 40s) var(--animation-direction, forwards) linear
    infinite;
}

@utility custom-scrollbar {
  &::-webkit-scrollbar {
    @apply h-1;
  }
  &::-webkit-scrollbar-track {
    @apply rounded-xl bg-transparent;
  }
  &::-webkit-scrollbar-thumb {
    @apply rounded-xl bg-amber-500 dark:bg-pink-500;
  }
}

@utility markdown-content {
  @apply p-4;

  & h1 {
    @apply bg-linear-to-tr from-amber-800 to-amber-500 bg-clip-text text-3xl font-extrabold text-transparent dark:from-pink-400 dark:to-violet-700;
  }
  & h2 {
    @apply mb-2 text-xl font-bold text-amber-800 md:text-2xl dark:text-white;
  }
  & p {
    @apply p-2 text-sm font-normal text-amber-700 md:text-base dark:text-gray-200;
  }
}

@utility workout-plan-markdown-content {
  & table {
    @apply w-full;
  }
  & p {
    @apply font-montserrat border-amber-900 text-base font-semibold text-amber-700 xl:text-xl dark:border-gray-600 dark:text-gray-200;
  }
  & th:not(:last-child),
  & td:not(:last-child) {
    @apply my-auto items-center border-t border-r border-dashed border-amber-900 px-1.5 py-2 text-left sm:px-4 dark:border-gray-700;
  }
  & th:last-child {
    @apply my-auto items-center rounded-tr-2xl border-t border-dashed border-amber-900 px-1.5 py-2 text-left sm:px-4 dark:border-gray-700;
  }
  & tr:last-child {
    @apply rounded-br-2xl rounded-bl-2xl border-b border-dashed border-amber-900 dark:border-gray-700;
  }
  & td:last-child {
    @apply border-t border-dashed border-amber-900 px-4 py-4 text-left dark:border-gray-700;
  }
  & tr:last-child {
    @apply border-0;
  }
  & th:first-child {
    @apply rounded-tl-2xl;
  }
  & th {
    @apply border-t-0 bg-amber-100 dark:bg-gray-900;
  }
}

@utility no-scrollbar {
  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@utility bg-grid {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' width='32' height='32' fill='none' stroke='%23000'%3e%3cpath d='M0 .5H31.5V32'/%3e%3c/svg%3e");
}

@utility bg-grid-small {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' width='8' height='8' fill='none' stroke='%23000'%3e%3cpath d='M0 .5H31.5V32'/%3e%3c/svg%3e");
}

@utility bg-dot {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' width='16' height='16' fill='none'%3e%3ccircle fill='%23000' cx='10' cy='10' r='1.6257413380501518'/%3e%3c/svg%3e");
}

@utility container {
  padding: 1.5rem;
  margin: 0 auto;
}

:root {
  --navbar-height: 4rem;
  --radius: 0.625rem;
  --bg-card-light-primary-color: #f9b572;
  --border-light-primary-color: #772f1a;
  --bg-light-secondary-color: #f7efe5;
  --light-primary-hover-color: #8f3e00;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50 scroll-smooth;
  }
  body {
    @apply bg-background text-foreground;
  }
  html {
    scroll-behavior: smooth;
    @apply dark:bg-black;
  }
  html::-webkit-scrollbar {
    height: 8px;
    width: 8px;
  }
  html::-webkit-scrollbar-track {
    background-color: black;
  }
  html::-webkit-scrollbar-thumb {
    background: rgba(70, 68, 68, 0.58);
    border-radius: 25px;
  }
  html::-webkit-scrollbar-corner {
    display: none;
  }
}

@keyframes bounce-right {
  0%,
  100% {
    transform: translateX(20%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: translateX(-15%);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

@keyframes accordion-down {
  from {
    height: 0;
  }
  to {
    height: var(--radix-accordion-content-height);
  }
}

@keyframes accordion-up {
  from {
    height: var(--radix-accordion-content-height);
  }
  to {
    height: 0;
  }
}

@keyframes scroll {
  to {
    transform: translate(calc(-50% - 0.5rem));
  }
}
